<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1098130018795-47vifk77ke4fm23s9jgk9pk9h8u89k9i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1098130018795-47vifk77ke4fm23s9jgk9pk9h8u89k9i</string>
	<key>API_KEY</key>
	<string>AIzaSyD9tILf9Y8Ix0CDk8XDcK-lc7ePN_Bz08c</string>
	<key>GCM_SENDER_ID</key>
	<string>1098130018795</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mobileShop</string>
	<key>PROJECT_ID</key>
	<string>mobile-shop-a5318</string>
	<key>STORAGE_BUCKET</key>
	<string>mobile-shop-a5318.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1098130018795:ios:14182bf6af9d2e0a9249ae</string>
</dict>
</plist>